*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #252525;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

header{
    width: 100%;

}
  
nav{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 8vh;
    background-color: white;
    position: relative;
    overflow: hidden;
  }

  nav div{
    flex: 1;
  }

  .nav-title{
    justify-content: center;
  }

  .ham {
    position: relative;
    margin-top: 17px;
    margin-left: 15%;
    margin-right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
  }
  .ham_line {
    transition: all 0.5s;
    position: absolute;
    left: 10px;
    width: 20px;
    height: 1px;
    background-color:rgb(88, 78, 67);
  }
  .ham_line1 {
    top: 10px;
  }
  .ham_line2 {
    top: 18px;
  }
  .ham_line3 {
    top: 26px;
  }

  nav h2{
    margin-top: 20px;
    color: rgb(88, 78, 67);
    position: absolute;
  }

  nav h3{
    font-size: 17px;
    font-weight: lighter;
    color:rgb(95, 93, 93);
    padding-bottom: 20px;
    position: absolute;
    margin-top: 42px;
  }

  nav ul{
      position: absolute;
      display: flex;
      right: 20%;
      top: 10px;
  }
  
 nav li{
   margin-top: 10px;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
  }
  
  nav img {
    height: 35px;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
  }

  nav img:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.6s;
    cursor: pointer;
  }

  table{
    margin-right: auto;
    margin-left: auto;
    height: 60vh;
  }

  .login{
      text-align: center;
  }

  .login h1{
      font-size: 25px;
      color:rgb(88, 78, 67);
      margin-top: 60px;
      margin-bottom: 40px;
      display: inline-block;
      position: relative;
  }

  .login h1::before{
    display: inline-block;
    position: absolute;
    content: '';
    bottom: -20px; /*下線の上下の位置*/
    left: 50%;
    width: 30px; /*下線の幅*/
    height: 2px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置の調整*/
    background-color: #666666; /*下線の色*/
  }

  table td{
      display: block;
      width: auto;
      border-bottom: none;
  }

  input{
      height: 40px;
      font-style: italic;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20px;
      width: 350px;
      padding-top: auto;
      padding-bottom: auto;
      margin-bottom: 30px;
      color:rgb(88, 78, 67)
  }

  #signin:hover{
    cursor: pointer;
    background-color:  rgb(238, 185, 120);
    transition-duration: 1s;
    border: none;
  }

  footer{
    width: 100%;
    height: 100px;
  }

  footer section{
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 20px;
  }

  .location{
    margin-top: 10px;
  }

  .location h3{
    color:rgb(88, 78, 67)
    
  }

  .location p{
    font-weight: lighter;
  }

  .contact{
    margin-top: 10px;
  }

  .contact h3{
    color:rgb(88, 78, 67)
  }

  .contact p{
    font-weight: lighter;
  }

  .name{
    margin-top: 10px;
  }

  .name h3{
    color:rgb(88, 78, 67);

  }
  