*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #252525;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

header{
    width: 100%;
}
  
  nav{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 8vh;
    background-color: white;
    position: relative;
    overflow: hidden;
  }

  nav div{
    flex: 1;
  }

  .ham {
    position: relative;
    margin-top: 17px;
    margin-left: 15%;
    margin-right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
  }
  .ham_line {
    transition: all 0.5s;
    position: absolute;
    left: 10px;
    width: 20px;
    height: 1px;
    background-color:rgb(88, 78, 67);
  }
  .ham_line1 {
    top: 10px;
  }
  .ham_line2 {
    top: 18px;
  }
  .ham_line3 {
    top: 26px;
  }
  
  nav h2{
    margin-top: 20px;
    color: rgb(88, 78, 67);
    position: absolute;
  }

  nav h3{
    font-size: 17px;
    font-weight: lighter;
    color:rgb(95, 93, 93);
    padding-bottom: 20px;
    position: absolute;
    margin-top: 42px;

  }

  nav ul{
    position: absolute;
    display: flex;
    right: 20%;
    top: 10px;
}

nav li{
 margin-top: 10px;
  text-align: center;
  display: inline-block;
  margin-left: 30px;
}

nav img {
  height: 35px;
  width: 100%;
  margin-top: 10px;
  text-decoration: none;
}

nav img:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.6s;
    cursor: pointer;
  }
  
<!----main------->

.product-list{
    max-width: 100%;
    height: 70%;
    text-align: center;
  }

.product-list h1{
    height: 50px;
    width: 100%;
    text-align: center;
    color: rgb(88, 78, 67);
    margin-top: 50px;
    display: inline-block;
    position: relative;
}

.product-list h1::before{
    display: inline-block;
    position: absolute;
    content: '';
    bottom: -5px; /*下線の上下の位置*/
    left: 50%;
    width: 30px; /*下線の幅*/
    height: 2px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置の調整*/
    background-color: #666666; /*下線の色*/
  }

.product-row{
    width:70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
  
  .product-list ul{
    list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  }
  
  .product-list li{
      display: inline-block;
      max-width: 30%;
  }
  
  .product-list img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    display: block;
    color:rgb(88, 78, 67)
  }

  .product-list img:hover{
      transform: scale(1.1, 1.05);
      transition-duration: 0.3s;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0.8;
      cursor: pointer;
  }

  .product-list p{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 50px;
  }

  footer{
    width: 100%;
    height: 100px;
  }

  footer section{
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 20px;
  }

  .location{
    margin-top: 10px;
  }

  .location h3{
    color:rgb(88, 78, 67)
    
  }

  .location p{
    font-weight: lighter;
  }

  .contact{
    margin-top: 10px;
  }

  .contact h3{
    color:rgb(88, 78, 67)
  }

  .contact p{
    font-weight: lighter;
  }

  .name{
    margin-top: 10px;
  }

  .name h3{
    color:rgb(88, 78, 67);

  }