*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #252525;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

header{
    width: 100%;
    height: 80vh;
    background-image: url("images/insung-yoon-gHbFU-CiZ0U-unsplash.jpg");
    position: relative;
    background-size: cover;

}
  
  header::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  nav{
    position: absolute;
    display: flex;
    justify-content: center;
    width:100%;
    background-color: white;
    overflow: hidden;
    text-align: center;
  }

  nav div{
    text-align: center;
    flex: 1;
  }

  .ham {
    position: relative;
    margin-top: 17px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
  }
  .ham_line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 1px;
    background-color:rgb(88, 78, 67);
  }
  .ham_line1 {
    top: 10px;
  }
  .ham_line2 {
    top: 18px;
  }
  .ham_line3 {
    top: 26px;
  }

  nav h2{
    margin-top: 20px;
    color: rgb(88, 78, 67);
    /* position: absolute; */
  }

  nav h3{
    font-size: 17px;
    font-weight: lighter;
    color:rgb(95, 93, 93);
  }

  nav ul{
    display: flex;
    top: 10px;
    justify-content: center;
}

nav li{
 margin-top: 10px;
  display: inline-block;
  margin-left: 20px;
}

nav img {
  height: 35px;
  width: 100%;
  margin-top: 10px;
  text-decoration: none;
}

nav img:hover{
  transform: scale(1.1, 1.1);
  transition-duration: 0.6s;
  cursor: pointer;
}

main{
    background-size: cover;
    position: absolute;
    width: 100%;
  } 

.main-contents{
  margin-top:20%;
    text-align: center;
}

main h1{
  text-align: center;
    margin-top: 10%;
    color: white;
    font-size: 65px;
}

main button{
  text-align: center;
    width: 130px;
    height: 40px;
    border: none;
    color: rgb(88, 78, 67);
    background-color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
}

main button:hover{
   background-color: rgb(238, 185, 120);
  cursor: pointer;
  transition-duration: 0.7s;
}

.new-product{
    max-width: 100%;
    height: 70%;
    text-align: center;
  }

.new-product h1{
    height: 50px;
    width: 100%;
    text-align: center;
    color: rgb(88, 78, 67);
    margin-top: 50px;
    display: inline-block;
    position: relative;
}

.new-product h1::before{
  display: inline-block;
  position: absolute;
  content: '';
  bottom: -5px;
  left: 50%;
  width: 30px;
  height: 2px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  background-color: rgb(88, 78, 67);
}

.product-row{
    width:70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
  
  .new-product ul{
      list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  }
  
  .new-product li{
      display: inline-block;
      max-width: 30%;
      
  }
  
  .new-product img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    display: block;
    color:rgb(88, 78, 67)
  }

  .new-product img:hover{
    transform: scale(1.1, 1.05);
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    cursor: pointer;
}

  .new-product p{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 50px;
  }

  .about-us{
    width: 100%;
    height: 70vh;
    background-image: url("images/pexels-nadi-lindsay-2789545.jpg");
    position: relative;
    background-size: cover;
  }

  .about-us::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .about-us-content{
      position: absolute;
      margin-right: auto;
      margin-left: auto;
  }

  .about-us h1{
      text-align: center;
      font-size: 30px;
      color: white;
      margin-top: 5%;
      margin-bottom: 5%;
  }

  .about-us p{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
      text-align: center;
      color: white;
      font-weight: lighter;
      font-size: 20px;
      line-height: 30px;
  }

  footer{
    width: 100%;
    height: 100px;
   bottom: 0;
  }

  footer section{
    display: flex;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 20px;
  }

  .location{
    margin-top: 10px;
  }

  .location h3{
    color:rgb(88, 78, 67)
    
  }

  .location p{
    font-weight: lighter;
  }

  .contact{
    margin-top: 10px;
  }

  .contact h3{
    color:rgb(88, 78, 67)
  }

  .contact p{
    font-weight: lighter;
  }

  .name{
    margin-top: 10px;
  }

  .name h3{
    color:rgb(88, 78, 67);

  }

  @media screen and (max-width: 670px){
    header{
      width: 100%;
      height: 70vh;
      background-image: url("images/insung-yoon-gHbFU-CiZ0U-unsplash.jpg");
      position: relative;
      background-size: cover;
  }
    
    header::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }

    nav{
      position: absolute;
      display: flex;
      justify-content: center;
      width:100%;
      background-color: white;
      overflow: hidden;
      text-align: center;
    }
  
    nav div{
      text-align: center;
      flex: 1;
    }
  
    .ham {
      position: relative;
      margin-top: 17px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-color: white;
    }
    .ham_line {
      position: absolute;
      left: 30%;
      width: 20px;
      height: 1px;
      background-color:rgb(88, 78, 67);
    }
    .ham_line1 {
      top: 10px;
    }
    .ham_line2 {
      top: 18px;
    }
    .ham_line3 {
      top: 26px;
    }
  
    nav h2{
      margin-top: 20px;
      color: rgb(88, 78, 67);
      /* position: absolute; */
    }
  
    nav h3{
      font-size: 17px;
      font-weight: lighter;
      color:rgb(95, 93, 93);
    }
  
    nav ul{
        display: flex;
        top: 10px;
        justify-content: center;
    }
    
   nav li{
     margin-top: 10px;
      display: inline-block;
      margin-left: 10px;
    }
    
    nav img {
      height: 30px;
      width: 100%;
      margin-top: 10px;
      text-decoration: none;
    }
  
    nav img:hover{
      transform: scale(1.1, 1.1);
      transition-duration: 0.6s;
      cursor: pointer;
    }
  
  main{
      /* background-size: cover; */
    } 
  
  .main-contents{
    margin-top: 30%;
    justify-content: center;
  }
  
  main h1{
      color: white;
      font-size: 65px;
      text-align: center;
  }
  
  main button{
    text-align: center;
      width: 130px;
      height: 40px;
      border: none;
      color: rgb(88, 78, 67);
      background-color: #ffffff;
      font-size: 15px;
      margin-top: 10px;
      font-weight: bold;
  }
  
  main button:hover{
     background-color: rgb(238, 185, 120);
    cursor: pointer;
    transition-duration: 0.7s;
  }

    .new-product{
      max-width: 100%;
      height: 70%;
    }
  
  .new-product h1{
      height: 50px;
      width: 100%;
      text-align: center;
      color: rgb(88, 78, 67);
      margin-top: 50px;
  }
  
  .product-row{
      width: 100%;
  }
    
    .new-product ul{
      width: 100%;
      list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
    }
    
    .new-product li{
        display: inline-block;
        max-width: 100%;
        height: 450px;
        
    }
    
    .new-product img{
      object-fit: cover;
      display: block;
      color:rgb(88, 78, 67)
    }
  
    .new-product p{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .about-us{
      width: 100%;
      height: 115vh;
      background-image: url("images/pexels-nadi-lindsay-2789545.jpg");
      position: relative;
      background-size: cover;
    }
  
    .about-us::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .about-us-content{
        position: absolute;
        margin-right: auto;
        margin-left: auto;
    }
  
    .about-us h1{
        text-align: center;
        font-size: 30px;
        color: white;
        margin-top: 5%;
        margin-bottom: 5%;
    }
  
    .about-us p{
      width: 70%;
      margin-right: auto;
      margin-left: auto;
        text-align: center;
        color: white;
        font-weight: lighter;
        font-size: 20px;
        line-height: 30px;
    }
  
    footer{
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  
    footer section{
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
    }
  
  
    .location{
      margin-top: 10px;
    }
  
    .location h3{
      color:rgb(88, 78, 67)
      
    }
  
    .location p{
      font-weight: lighter;
    }
  
    .contact{
      margin-top: 10px;
    }
  
    .contact h3{
      color:rgb(88, 78, 67)
    }
  
    .contact p{
      font-weight: lighter;
    }
  
    .name{
      margin-top: 10px;
    }
  
    .name h3{
      color:rgb(88, 78, 67);
  
    }

  }

  

  @media screen and (min-width: 671px) and (max-width: 1000px){
    header{
      width: 100%;
      height: 70vh;
      background-image: url("images/insung-yoon-gHbFU-CiZ0U-unsplash.jpg");
      position: relative;
      background-size: cover;
  
  }
    
    header::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
    nav{
      display: flex;
      justify-content: space-between;
      width:100%;
      height: 8vh;
      background-color: white;
      position: relative;
      text-align: center;
    }
  
    nav div{
      flex: 1;
    }
  
    .ham {
      position: relative;
      margin-top: 17px;
      margin-left: 10%;
      margin-right: 0;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-color: white;
    }
    .ham_line {
      transition: all 0.5s;
      position: absolute;
      left: 10px;
      width: 20px;
      height: 1px;
      background-color:rgb(88, 78, 67);
    }
    .ham_line1 {
      top: 10px;
    }
    .ham_line2 {
      top: 18px;
    }
    .ham_line3 {
      top: 26px;
    }

    .nav-title{
      text-align: center;
    }
  
    nav h2{
      margin-top: 20px;
      color: rgb(88, 78, 67);
      position: absolute;
    }
  
    nav h3{
      font-size: 17px;
      font-weight: lighter;
      color:rgb(95, 93, 93);
      padding-bottom: 20px;
      position: absolute;
      margin-top: 42px;
    }
  
    nav ul{
        position: absolute;
        display: flex;
        right: 10%;
        top: 10px;
    }
    
   nav li{
     margin-top: 8px;
      display: inline-block;
      margin-left: 10px;
    }
    
    nav img {
      height: 25px;
      width: 100%;
      margin-top: 10px;
      text-decoration: none;
    }
  
    nav img:hover{
      transform: scale(1.1, 1.1);
      transition-duration: 0.6s;
      cursor: pointer;
    }
  
  main{
      background-size: cover;
    } 
  
  .main-contents{
    margin-top: 20%;
      text-align: center;
  }
  
  main h1{
      margin-top: 10%;
      color: white;
      font-size: 65px;
      position: relative;
  }
  
  main button{
      position: relative;
      width: 130px;
      height: 40px;
      border: none;
      color: rgb(88, 78, 67);
      background-color: #ffffff;
      font-size: 15px;
      margin-top: 10px;
      font-weight: bold;
  }
  
  main button:hover{
     background-color: rgb(238, 185, 120);
    cursor: pointer;
    transition-duration: 0.7s;
  }

    .new-product{
      max-width: 100%;
      height: 70%;
    }
  
  .new-product h1{
      height: 50px;
      width: 100%;
      text-align: center;
      color: rgb(88, 78, 67);
      margin-top: 50px;
  }
  
  .product-row{
      width: 100%;
  }
    
    .new-product ul{
      width: 100%;
      list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
    }
    
    .new-product li{
        display: inline-block;
        max-width: 30%;
        height: 500px;
        
    }
    
    .new-product img{
      object-fit: cover;
      display: block;
      color:rgb(88, 78, 67)
    }
  
    .new-product p{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .about-us{
      width: 100%;
      height: 90vh;
      background-image: url("images/pexels-nadi-lindsay-2789545.jpg");
      position: relative;
      background-size: cover;
    }
  
    .about-us::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .about-us-content{
        position: absolute;
        margin-right: auto;
        margin-left: auto;
    }
  
    .about-us h1{
        text-align: center;
        font-size: 30px;
        color: white;
        margin-top: 5%;
        margin-bottom: 5%;
    }
  
    .about-us p{
      width: 70%;
      margin-right: auto;
      margin-left: auto;
        text-align: center;
        color: white;
        font-weight: lighter;
        font-size: 20px;
        line-height: 30px;
    }
  
    footer section{
      /* display: flex; */
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      /* justify-content: space-between; */
      margin-top: 20px;
    }
  
    .location{
      margin-top: 10px;
    }
  
    .location h3{
      color:rgb(88, 78, 67)
      
    }
  
    .location p{
      font-weight: lighter;
    }
  
    .contact{
      margin-top: 10px;
    }
  
    .contact h3{
      color:rgb(88, 78, 67)
    }
  
    .contact p{
      font-weight: lighter;
    }
  
    .name{
      margin-top: 10px;
    }
  
    .name h3{
      color:rgb(88, 78, 67);
  
    }

  }